<div class="container">
    <h2 style="text-align: center">Edit Customer</h2>
    <div class="row">
        <div class="col col-md-12">
            <form [formGroup]="customerForm">
                <div class="mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput id="firstName" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <input matInput id="description" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="mb-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Image</mat-label>
                        <input matInput formControlName="image">
                    </mat-form-field>
                </div>

                <div class="row mb-3">
                    <div class="col col-md-6">
                        <button type="button" mat-raised-button>Cancel</button>
                    </div>

                    <div class="col col-md-6">
                        <button type="button" mat-raised-button color="primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>