.header{
    margin: 20px;
    text-align: center;
}

.logo{
    height: 30px;
}

.mat-row:hover {
    background-color: #dbeaf5;
    cursor: pointer;
  }

  .card{
    border: 1px solid rgb(162, 160, 160);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}